<launch>
    <arg name="robot_name0" default="robot0" />
	<arg name="robot_name1" default="robot1" />
	<arg name="robot_name2" default="robot2" />
	<arg name="robots_num" default="3" />
	
	<include file="$(find r_coordination)/launch/r_coordination.launch">
		<arg name="robot_name" value="$(arg robot_name0)" />
		<arg name="robot_id" value="0" />
		<arg name="robots_num" value="$(arg robots_num)"/>
	</include>

	<include file="$(find r_coordination)/launch/r_coordination.launch">
		<arg name="robot_name" value="$(arg robot_name1)" />
		<arg name="robot_id" value="1" />
		<arg name="robots_num" value="$(arg robots_num)"/>
	</include>

	<include file="$(find r_coordination)/launch/r_coordination.launch">
		<arg name="robot_name" value="$(arg robot_name2)" />
		<arg name="robot_id" value="2" />
		<arg name="robots_num" value="$(arg robots_num)"/>
	</include>

</launch>
